In [1]:
import pandas as pd
import os

In [2]:
def load_csv_as_df(file_name, sub_directories, column_numbers=None, column_names=None):
    '''
    Load any csv as a pandas dataframe. Provide the filename, the subdirectories, and columns to read(if desired).
    '''
    base_path = os.getcwd()
    full_path = base_path + sub_directories + file_name

    if column_numbers is not None:
        df = pd.read_csv(full_path, usecols=column_numbers)
    else:
        df = pd.read_csv(full_path)

    if column_names is not None:
        df.columns = column_names

    return df

In [5]:
new_train_df = load_csv_as_df('new-train-to-air-routes-no-grids.csv', '/RelevantData/')
new_air_df = load_csv_as_df('new-air-to-train-routes-no-grids.csv', '/RelevantData/')

original_train_df = load_csv_as_df('train-to-air-routes-no-grids.csv', '/RelevantData/')
original_air_df = load_csv_as_df('air-to-train-routes-no-grids.csv', '/RelevantData/')

In [10]:
train_df = pd.concat([original_train_df, new_train_df])
train_df = train_df.drop(train_df.columns[0], axis=1)
train_df.to_csv('all-train-to-air-routes-no-grids.csv', encoding='utf-8', index=False)
train_df.head()

,latitude,longitude,occupancy_status,route_end,route_number,route_start,taxi_id,time
0,22.608000,114.032600,1,False,324340,True,30907,2018-11-25 06:27:58
1,22.608601,114.032097,1,False,324340,False,30907,2018-11-25 06:28:28
2,22.607599,114.029900,1,False,324340,False,30907,2018-11-25 06:28:58
3,22.606300,114.028099,1,False,324340,False,30907,2018-11-25 06:29:29
4,22.604000,114.024597,1,False,324340,False,30907,2018-11-25 06:29:59

In [11]:
air_df = pd.concat([new_air_df, original_air_df])
air_df = air_df.drop(air_df.columns[0], axis=1)
air_df.to_csv('all-air-to-train-routes-no-grids.csv', encoding='utf-8', index=False)
air_df.head()

,latitude,longitude,occupancy_status,route_end,route_number,route_start,taxi_id,time
0,22.626467,113.810150,1,False,2199,True,dodBcDpez8w=,2016-06-13 12:03:02
1,22.625467,113.809464,1,False,2199,False,dodBcDpez8w=,2016-06-13 12:03:24
2,22.625017,113.808647,1,False,2199,False,dodBcDpez8w=,2016-06-13 12:03:31
3,22.614933,113.811600,1,False,2199,False,dodBcDpez8w=,2016-06-13 12:04:53
4,22.613100,113.812599,1,False,2199,False,dodBcDpez8w=,2016-06-13 12:05:03

In [14]:
# air_df.describe()

In [15]:
# train_df.describe()

In [ ]:
max_lat = 22.0
min_lat = 23.0

min_long = 113
max_long = 115

diff_in_latitude =  max_lat - min_lat
diff_in_longitude = max_long - min_long

# 20 rows so
cell_size = diff_in_latitude / 20.0



def concat(row, col):
    return int(f"{row}-{col}")

def map_gps_to_box(latitude, longitude):
    row_number = int((latitude - min_lat) // cell_size)
    col_number = int((longitude - min_long) // cell_size)
    
    if col_number < 0 or row_number < 0:
        return -1, -1, -1
    
    # print(row_number)
    # print(col_number)

    # cell_number_str = str(row_number) + str(col_number)
    
    return concat(row_number, col_number), row_number, col_number